<nav>
    <h1><a href="/">Blog-Hub</a></h1>
    <ul>
        <a href="/"><li>Posts</li></a>
        <a href="/about-us"><li>About Us</li></a>
        <a href="/add-post"><li class="add_left">Add Post</li></a>
    </ul>
</nav>